.card-item {
    padding-left: 0;
    padding-right: 0;
}
.card-body {
    padding-left: 15px;
    padding-right: 15px;
}
.search_form .form-group {
    width: 400px;
}
.flash_message {
    position: fixed !important;
    right: 300px;
    width: 300px;
    animation: slideIn 6s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
 
@keyframes slideIn {
    0% {
        transform: translateX(180px);
        opacity: 0;
    }
    40% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(180px);
        opacity: 0;
    }
}